

.right {
	text-align: right;
}

table {
	display: flex;
	align-items: center;
	max-width: 90%;
	border-spacing: 10px;
}

.questions {
	/*outline-style: solid;*/
	max-width:90%;
	margin: auto;
	padding: 15px;
}

.lfslfs {
	outline-style: solid;
}